<!doctype html>
<html>

  <head>
    <title>StartUp Circle - join a circle, start a business!</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <div id="nav">
        <ul>
            <li><a href="/" id="logo">StartUp Circle - join a circle, start a business!</a></li>
            <li><a href="/circles/find_circle">FIND A CIRCLE</a></li>
            <li><a href="/circles/add_circle">CREATE A CIRCLE</a></li>
            {% if status == True %}
            <li><a href="/users/logout">LOG OUT</a></li>
            {% else %}
            <li><a href="/users/login">LOG IN</a></li>
            {% endif %}
        </ul>
      </div>
      
      <div class="side_menu">
        {% if status == True %}
        User Menu
        <br/>
        <div class="avatar_side_menu">
          <img src="../static/uploads/user{{ user[0] }}.png"
          onerror="this.src='../static/uploads/anonymous_user_photo.png'" />
        </div>
        {{ user[2] }} {{ user[3] }}
        <br/>
        {{ user[6] }}
        <br/>
        {{ user[8] }}
        <br/>
        {{ username }}
        <br/>
        <div class="button1"><a href = "/users/account">Account</a></div>
        <div class="button1"><a href = "/users/logout">Log out</a></div>

        {% else %}
        User Menu
        <br/>
        <div class="avatar_side_menu">
          <img src="../static/uploads/anonymous_user_photo.png"/>
        </div>
        Anonymous user
        <br/>
        <div class="button1"><a href = "/users/login">Log in</a></div>
        <div class="button1"><a href = "/users/register">Register</a></div>

        {% endif %}
      </div>   
    
      <div class="content">
          <div id = "circle">
            <div class="photo"><img src="../static/uploads/circle{{ circle[0] }}.png"
            onerror="this.src='../static/uploads/no_photo.png'" />
            </div>
            <h2>{{ circle[3] }} ( ID: {{ circle[0] }} )</h2>
            <div class="info">
            Leader contact: {{ circle[1] }}<br/>
            Published: {{ circle[5] }}<br/>
            Valid until: {{ circle[6] }}<br/>
            Investment needed: {{ circle[7] }}<br/>
            Members involved: 1<br/>
            Members interested: 0<br/>
            </div> 
            <br/>
            <p>
              {{ circle[4] }}<br/><br/>
            </p>
            <div class="button2">
              <a href="/">I am interested</a>
            </div>
            <div class="button2">
              <a href="/">I want to join</a>
            </div>
            
            {% if circle[1] == username %}
            <div class="button2">
              <a href="/circles/remove/{{ circle[0] }}">Remove</a>
            </div>
            {% endif %}

            <br/>
          </div>

     </div>
  </body>
</html>
