body
{
  margin: 0 !important;
  padding-top: 0 !important;
  font-family: Century Gothic;
  background-color: #EFEFEF;
  color: #878787;
}

#nav
{
  width: 100%;
  height: 90px;
  padding-top: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  background-color: #8173ff;
  text-align: center;
}

#nav a
{
  text-decoration: none;
  color: white;
  margin-top: 0;
}

#nav li
{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 35px;
  color: white;
  letter-spacing: 2px;
}

.side_menu
{
  width: 170px;
  padding-top: 25px;
  padding: 15px;
  height: 400px;
  position: fixed;
  top: 152px;
  background-color: #8173ff;
  text-align: center;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
}

img
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:100%;
}

.photo
{
  width: 230px;
  height: 160px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}

.avatar_side_menu
{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.avatar_side_menu img
{
  border-radius: 50%;
}

.small_photo
{
  width: 100px;
  height: 60px;
  float: left;
}

.content
{
  width: 930px;
  margin-left: 290px; 
  margin-right: auto;
  margin-top: 140px;
}

article
{
  width: 240px;
  height: 420px;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
  background-color: #FAFAFA; 
  font-size: 15px;
}

h2
{
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
}

#circle
{
  width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
  background-color: #FAFAFA; 
  font-size: 15px;
}

#user
{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
  background-color: #FAFAFA; 
  font-size: 15px;
}

#results
{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
  background-color: #FAFAFA; 
  font-size: 15px;
  text-align: center;
}

#logout
{
  width: 500px;
  height: 150px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
  background-color: #FAFAFA; 
  font-size: 15px;
}

.button1, input[type="submit"], #file_input
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 3px;
  height: 27px;
  width: 120px;
  border-style: solid;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #c3c3c3;
  background-color: #FDFDFD;
  /*background-color: #35ff64;
  color: white;*/
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
  color: grey;
}

.button2
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 3px;
  height: 35px;
  width: 160px;
  border-style: solid;
  border-width: 1px;
  /*background-color: #35ff64;
  colo: white;*/
  border-color: #d4d4d4;
  background-color: #caff79;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
}

.button1 a
{
  text-decoration: none;
  color: #878787;
}

.button2 a
{
  text-decoration: none;
  color: #acacac;
}

label
{
  display: inline-block;
  width: 300px;
  padding: 10px;
}

form
{
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: #D2D2D2;
  border-width: 1px;
  background-color: #FAFAFA; 
  font-size: 15px;
  text-align: center;
}

input[type="file"]
{
  display: none;
}



